/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body {
  background-color: #FFFFFF;
  color: #262b33;
  font-family: 'Lato', sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  min-height: 100vh;
  position: relative;
}

.header {
  background-color: #F5F5F5;
  height: 250px;
  position: relative;
}

.header__content {
  padding: 45px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__text {
  color: #000000;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  text-decoration: none;
}

.actions__download-btn {
  background-color: #3666F7;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.133984px;
  appearance: none;
  outline: none;
  text-align: center;
  padding: 12px 28px;
  cursor: pointer;
  transition: background-color .1s ease;
  border: none;
  border-radius: 6px;
}

.actions__download-btn:hover {
  background-color: #0940E7;
}

.resume-container {
  margin-bottom: 180px;
  margin-top: -125px;
}

.resume-page {
  position: relative;
  background-color: #FFFFFF;
  border: 1px solid #D7D7D7;
  border-radius: 5px;
  width: 900px;
  min-height: 1200px;
  margin: auto;
  z-index: 2;
}

.resume-page__content {
  padding: 70px;

}
img {
 object-fit: cover; 

}
.resume-name {
font-size: 28px;
line-height: 34px;
}
.grid-item1 {grid-area: header}
.grid-item2 {grid-area: main;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  color: #252525;
  }
.grid-item3 {grid-area: email;
  font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 32px;
text-align: right;

color: #AAAAAA;
  }
.grid-item4{grid-area: text1;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  color: #555555;
}
.grid-item5{grid-area: text2;
  }
.grid-item6{grid-area: text3}
.grid-item7{grid-area: text4}

.grid-item9{grid-area: text6}
.grid-item10{grid-area: text7}
.picture{grid-area: picture}
.grid-container{
  display: grid;
  grid-template-columns: 70px 1fr 1fr 1fr;
  grid-template-rows:  70px 0.5fr 220px 260px;
  grid-column-gap:30px ;
  grid-row-gap:30px ;
 grid-template-areas:
  "header main main  email"
  "text1 text1 text1 text1"
  "text2 text2 text2 text3"
  "text4 text4 text4 text6"
  "text7 text7 text7 text7"
  ". . . picture"
}
font{
  color: #555555;
  font-size: 24px;
line-height: 29px;
}
.T2 {
  font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
  color: #555555;
}
.colorPurple{
 
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #A066F8;
}
.colorOrange{
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #EE5035;
}
.year{
  font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #CCCCCC;
}
h3{
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
color: #555555;
}
.colorBlue{
  font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #38BEF8;
}
.colorGreen{
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #32CD88;
}
.colorRed{
  font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #FB746A;

}
h6{
 
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #CCCCCC;
}

.ff{
  margin-top: 8px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #CCCCCC;
  
}

img:hover {
  border: 2px solid  #178fdf;
}
.marg{
  margin-top: 8%;
}